package pages

import (
)



type SettingsProps struct {
}

templ Settings(p SettingsProps) {
	<div class="">
	<table class="min-w-full table-auto border-collapse border border-gray-300">
	<thead>
	<tr class="bg-slate-200">
	<th class="px-6 py-2 border-b border-gray-300 text-left">Case Title</th>
	<th class="px-6 py-2 border-b border-gray-300 text-left">Description</th>
	</tr>
	</thead>
	<tbody>
	</tbody>
	</table>
	</div>
}

